@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend', 'Inter', 'Helvetica', 'Arial', sans-serif !important;
}

html, #root {
  font-family: 'Lexend', 'Inter', 'Helvetica', 'Arial', sans-serif !important;
}
